*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

body{
    background-image: url("xx.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.from-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(39, 40, 52, 0.92);
    opacity: 0.8;
    width: 50%;
    padding-bottom: 70px;
}

.input-label{
    display: inline-block;
    width: 25%;
    text-align: right;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;

}


input[type=text], [type=email], [type=number], [type=password]
{
    width: 40%;
    border-radius: 6px;


    padding: 8px;
}


.sub-btn{
    background-color: rgb(49, 202, 32);
    padding: 15px;
    border-radius: 8px;
    margin-left: 40%;
    margin-top: 20px;

}

.from-taitel{

    background-color: rgb(59, 52, 52);
    color: white;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    
}


.new-h1{
    
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}






/*responsive starts here*/


@media (max-width: 992px){

    #blog-banner-section{
        flex-direction: column;
    }
    #blog-banner-section article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    .card-container{
        width: 50%;
        
        flex-direction: column;
        flex-wrap: wrap;
        

    }

}


@media (max-width: 768px){

    html{
        font-size: 55.5%;

    }
    #blog-banner-section article{

        width: 80%;
    }

    .card-container{
        width: 80%;
        
    }

    #archives{
        min-height: auto;
    }

    .blog-post{
        flex-direction: column;
        margin-bottom: 3rem;
        width: 80%;
    }

    .contact-section{
        min-height: auto;
    }

}


@media (max-width: 600px){
    html{
        font-size: 48.5%;
    }
    header{
        flex-direction: column;
    }

    label input{
        padding-left: 2rem;
    }

    .from-center .new-h1 input{
        display: block;
        margin-right: 0;
        margin: 1rem 0;
    }

    #blog-banner-section{
        min-height: auto;
    }

    .from-center .new-h1 input{
        width: 90%;
    }

    .banner-img{
        max-width: 100%;
    }

    .from-center{
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }





    .archives-container-lists{
        flex-wrap: wrap;
    }



    .from-center{
        width: 100%;
    }

    .new-h1{
        width: 40%;
        font-size: 350%;
    }




    

    .from-center{
        margin-bottom: 0.5rem;
    }





}


@media (max-width: 400px){



}



/*responsive ends here*/
